<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
          <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
        </a>
        <span class="mb-3 mb-md-0 text-muted">© 2023, Escuela ProA Oncativo</span>
        <!--<span class="text-muted">Direccion: Combatientes de Malvinas 1541<br>Telefono: +54 9 3572680610<br>Email: oncativo.ds@escuelasproa.edu.ar</span>-->
      </div>
  
      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex foo">
        <li class="ms-3"><a class="text-muted" href="#"><img src="assets/facebook.svg" width="30px"></a></li>
        <li class="ms-3"><a class="text-muted" href="https://www.instagram.com/escuela_proa_oncativo/" target="_blank"><img src="assets/instagram.svg" width="30px"></a></li>
      </ul>
    </footer>
  </div>