  <!--NavBar-->
  <div class="container-fluid" style="background-color: #0099ff;">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <a class="navbar-brand" href="#">
            <img src="assets/logo.png" class="iconito" alt="ProA" width="50px" height="50px">
          </a>
        </div>
        <div class="col-md-9">
          <nav class="navbar navbar-expand-lg">
            <div class="container">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                      <a class="nav-link" aria-current="page" routerLink="/inicio">Inicio</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/horarios">Horarios</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/galeria">Galeria</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/noticias">Noticias</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/preinscripciones">Pre Inscripciones</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/profesores">Profesores</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/alumnos">Alumnos</a>
                    </li>
                  </ul>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!--NavBar-->