<div class="container">
    <h2><img src="assets/profesores.svg" class="iconito" alt="" width="50px"
        style="margin: 10px 10px;"> Profesores</h2>
    <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr class="table-dark">
                        <th scope="col">#</th>
                        <th scope="col">Profesor</th>
                        <th scope="col">Materia/Rol</th>
                        <th scope="col">Curso</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>BIANCHI, Marilyn</td>
                        <td>Biología</td>
                        <td>2º año</td>
                    </tr>
                    <tr class="table-secondary">
                        <th scope="row">2</th>
                        <td>CAMILONE, Mara</td>
                        <td>
                            Fisica<br />
                            Quimica
                        </td>
                        <td>
                            1º, 3º, 5º año<br />
                            2º, 3º año
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>CAMILONE, Nadia</td>
                        <td>Club de arte</td>
                        <td>1º, 2º, 3º, 4º, 5º año</td>
                    </tr>
                    <tr class="table-secondary">
                        <th scope="row">4</th>
                        <td>CAPELLO, Luciano</td>
                        <td>Educación artística</td>
                        <td>2º año</td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>CRISPIANI, Martin</td>
                        <td>Educación artística</td>
                        <td>2º año</td>
                    </tr>
                    <tr class="table-secondary">
                        <th scope="row">6</th>
                        <td>DEMONTE, Anibal</td>
                        <td>
                            Sistemas operativos y software de aplicación<br />
                            Estructura y almacenamiento de datos I<br />
                            Estructura y almacenamiento de datos II<br />
                            Estructura y almacenamiento de datos III<br />
                            Programación II<br />
                            Programación III<br />
                            Formación para la vida y el trabajo<br />
                            Robótica
                        </td>
                        <td>
                            1º año<br />
                            2º año<br />
                            3º año<br />
                            4º año<br />
                            4º año<br />
                            5º año<br />
                            4º año<br />
                            5º año
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">7</th>
                        <td>DROETTA, Cintia</td>
                        <td>Lengua y literatura</td>
                        <td>4º y 5º año</td>
                    </tr>
                    <tr class="table-secondary">
                        <th scope="row">8</th>
                        <td>Enz, Yanina</td>
                        <td>Preceptora</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <th scope="row">9</th>
                        <td>FARSONI, Beatriz</td>
                        <td>Psicología</td>
                        <td>5º año</td>
                    </tr>
                    <tr class="table-secondary">
                        <th scope="row">10</th>
                        <td>FERREYRA, Matías</td>
                        <td>Historia</td>
                        <td>2º, 3º, 4º y 5º año</td>
                    </tr>
                    <tr>
                        <th scope="row">11</th>
                        <td>FIORE, Carla</td>
                        <td>
                            Ciudadanía y participación<br />
                            Formación de la vida y el trabajo
                        </td>
                        <td>
                            1º y 2º año<br />
                            3º año
                        </td>
                    </tr>
                    <tr class="table-secondary">
                        <th scope="row">12</th>
                        <td>FULGENZI, Daiana</td>
                        <td>Lengua y Literatura</td>
                        <td>1º año</td>
                    </tr>
                    <tr>
                        <th scope="row">13</th>
                        <td>GINART, Daniela</td>
                        <td>Lengua</td>
                        <td>2º, 3º año</td>
                    </tr>
                    <tr class="table-secondary">
                        <th scope="row">14</th>
                        <td>MARTINI Florencia</td>
                        <td>Inglés</td>
                        <td>1º, 3º, 4º año</td>
                    </tr>
                    <tr>
                        <th scope="row">15</th>
                        <td>MATELICA, Yanina</td>
                        <td>
                            Algoritmos y Programación<br />
                            Entornos Digitales
                        </td>
                        <td>2º año<br />1º año</td>
                    </tr>
                    <tr class="table-secondary">
                        <th scope="row">16</th>
                        <td>MERLO, Francis</td>
                        <td>Club de ciencias</td>
                        <td>1º año</td>
                    </tr>
                    <tr>
                        <th scope="row">17</th>
                        <td>MICAELA, Pereyra</td>
                        <td>Coordinadora de curso</td>
                        <td>-</td>
                    </tr>
                    <tr class="table-secondary">
                        <th scope="row">18</th>
                        <td>MONCADA, Ariel</td>
                        <td>Preceptor</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <th scope="row">19</th>
                        <td>MORENO, Guillermo</td>
                        <td>Educación física <br>Club de deportes</td>
                        <td>4º y 5º año <br>1º, 2º, 4º, 5º año</td>
                    </tr>
                    <tr class="table-secondary">
                        <th scope="row">20</th>
                        <td>ORELLANO, Evelyn</td>
                        <td>Ciencias naturales, biología</td>
                        <td>1º año</td>
                    </tr>
                    <tr>
                        <th scope="row">21</th>
                        <td>RAMALLO, Vanesa</td>
                        <td>Educacion fisica</td>
                        <td>3º año</td>
                    </tr>
                    <tr class="table-secondary">
                        <th scope="row">22</th>
                        <td>RE, Candelaria</td>
                        <td>Club de deportes</td>
                        <td>3º año</td>
                    </tr>
                    <tr>
                        <th scope="row">23</th>
                        <td>ROSAS, Victoria</td>
                        <td>Geografía</td>
                        <td>4º año</td>
                    </tr>
                    <tr class="table-secondary">
                        <th scope="row">24</th>
                        <td>ROJO, Magalí</td>
                        <td>Geografia</td>
                        <td>1º, 3º, 5º año</td>
                    </tr>
                    <tr>
                        <th scope="row">25</th>
                        <td>SCORCIONE, M. Carolina</td>
                        <td>
                            Club de ciencias<br />
                            Biología
                        </td>
                        <td>
                            2º, 3º, 4º, 5º año<br />
                            4º año
                        </td>
                    </tr>
                    <tr class="table-secondary">
                        <th scope="row">26</th>
                        <td>SANCHEZ, Fernando</td>
                        <td>Educación artística</td>
                        <td>3º y 5º año</td>
                    </tr>
                    <tr>
                        <th scope="row">27</th>
                        <td>TAMAGNINI, Lorena</td>
                        <td>
                            Secretaria Docente, profesora de Educacion fisica
                        </td>
                        <td>1º y 2º año</td>
                    </tr>
                    <tr class="table-secondary">
                        <th scope="row">28</th>
                        <td>TATO, M. Soledad</td>
                        <td>
                            Formación para la vida y el trabajo<br />
                            Programación I<br />
                            Diseño de interfaces y usabilidad<br />
                            Ética y legislación
                        </td>
                        <td>
                            5º año<br />
                            3º año<br />
                            4º año<br />
                            5º año
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">29</th>
                        <td>TOMASSI, Micaela</td>
                        <td>Matematica</td>
                        <td>1º, 2º, 3º, 4º, 5º año</td>
                    </tr>
                    <tr class="table-secondary">
                        <th scope="row">30</th>
                        <td>TULIÁN, Lorena</td>
                        <td>Educación tecnológica</td>
                        <td>1º, 2º año</td>
                    </tr>
                    <tr>
                        <th scope="row">31</th>
                        <td>VOTTERO, Ezequiel</td>
                        <td>
                            Inglés<br />
                            Taller de ingles aplicado
                        </td>
                        <td>
                            2º y 5º año<br />
                            1º, 2º, 3º, 4º, 5º año
                        </td>
                    </tr>
                    <tr class="table-secondary">
                        <th scope="row">32</th>
                        <td>ZALAZAR, Mateo</td>
                        <td>Educación artística</td>
                        <td>-</td>
                    </tr>
                </tbody>
            </table>            
    </div>
  </div>