  <div class="container text-center news">
    <div class="text-center">
      <h2 style="margin-top: 10px;"><img src="assets/noticias.svg" class="iconito" alt="" width="50px" style="margin: 0 10px;"> Noticias</h2>
    </div>
    <div class="row aling-items-start">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Viaje a Córdoba</h5>
            <p class="card-text">El dia 25/6 tercer año visito el centro de detención clandestino "La Perla" lo que durante la dictadura fue un espacio de tortura que hoy es considerado un espacio importante que recuerda la parte más oscura de nuestra historia, todavia se conserva en las mismas deplorables condiciones lo que da visibilidad algo que nunca debería ser repetido y a su vez a una de las mayores heridas de nuestro país sirviendo como un espacio de enseñanza.
              Además visitaron el Estadio Mario Alberto Kempes, por un proyecto de educación física.
              </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container text-center news">
    <div class="row align-items-start">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Córdoba juega</h5>
            <p class="card-text">El “Córdoba Juega” se desarrolla en conjunto entre el Ministerio de Educación y la Agencia Córdoba Deportes, y cuenta con la colaboración de los ministerios de Desarrollo Social, Coordinación y Salud de la provincia de Córdoba, y del COys (Córdoba Obras y Servicios) de la Municipalidad de Córdoba.
              Los deportes en los que participamos fueron: Handball y Voley
            </p>
              <a href="https://deportes.cba.gov.ar/cordoba-juega-2023/" target="_blank" class="btn btn-primary">¡Quiero ver mas!</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container text-center news">
    <div class="row align-items-start">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Horarios y días de las mesas de exámenes previos (Julio 2023)</h5>
              <h5> Tercer año / 3ºaño</h5>
              <table class="table">
                <thead>
                  <tr>
                    <th>Materia</th>
                    <th>Día</th>
                    <th>Horarios</th>
                    <th>Profesores</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Historia</td>
                    <td>Lunes 3 de Julio</td>
                    <td>9:30 am</td>
                    <td>Ferreyra Matias, Rojo Magali, Rosas Victoria</td>
                  </tr>
                  <tr>
                    <td>Geografía</td>
                    <td>Lunes 3 de Julio</td>
                    <td>10:00 am</td>
                    <td>Ferreyra Matias, Rojo Magali, Rosas Victoria</td>
                  </tr>
                  <tr>
                    <td>Inglés</td>
                    <td>Lunes 3 de Julio</td>
                    <td>10:30 am</td>
                    <td>Martini Florencia, Vottero Ezequiel, Tato M. Soledad</td>
                  </tr>
                  <tr>
                    <td>Educación Física</td>
                    <td>Lunes 3 de Julio</td>
                    <td>11:00 am</td>
                    <td>Moreno Guillermo, Tamagnini Lorena, Ramallo Vannesa</td>
                  </tr>
                  <tr>
                    <td>Educación Artística</td>
                    <td>Lunes 3 de Julio</td>
                    <td>1:00 pm</td>
                    <td>Crispiani Martin, Capello Lucciano, Sanchez Fernando</td>
                  </tr>
                  <tr>
                    <td>Educación Tecnología</td>
                    <td>Lunes 3 de Julio</td>
                    <td>1:30 pm</td>
                    <td>Demonte Anibal, Tulian Lorena, Merlo Francis</td>
                  </tr>
                  <tr>
                    <td>Programación I</td>
                    <td>Martes 4 de Julio</td>
                    <td>7:30 am</td>
                    <td>Demonte Anibal, Tato M. Soledad, Vottero Ezequiel</td>
                  </tr>
                  <tr>
                    <td>Estructuras y Almace. de datos III</td>
                    <td>Martes 4 de Julio</td>
                    <td></td>
                    <td>Demonte Anibal, Tato M. Soledad, Vottero Ezequiel</td>
                  </tr>
                  <tr>
                    <td>TIA (Taller de Inglés Aplicado)</td>
                    <td>Martes 4 de Julio</td>
                    <td></td>
                    <td>Demonte Anibal, Tato M. Soledad, Vottero Ezequiel</td>
                  </tr>
                  <tr>
                    <td>FVT</td>
                    <td>Martes 4 de Julio</td>
                    <td>9:00 am</td>
                    <td>Demonte Anibal, Tato M. Soledad, Vottero Ezequiel</td>
                  </tr>
                  <tr>
                    <td>Matemáticas</td>
                    <td>Martes 4 de Julio</td>
                    <td>10:00 am</td>
                    <td>Tomassi Micaela, Demonte Anibal, Matelica Yanina</td>
                  </tr>
                  <tr>
                    <td>Lengua y Literatura</td>
                    <td>Martes 4 de Julio</td>
                    <td>12:00 pm</td>
                    <td>Droetta Cintia, Ginart Daniela, Fulgeniz Daiana</td>
                  </tr>
                  <tr>
                    <td>Física</td>
                    <td>Martes 4 de Julio</td>
                    <td>1:00 pm</td>
                    <td>Scorcione M, Carlina, Bianchi Marilyn, Camilone Mara</td>
                  </tr>
                  <tr>
                    <td>Química</td>
                    <td>Martes 4 de Julio</td>
                    <td>1:30 pm</td>
                    <td>Scorcione M, Carlina, Bianchi Marilyn, Camilone Mara</td>
                  </tr>
                </tbody>
              </table>
                <br>
              <h5>Cuarto año / 4ºaño </h5>
                <table class="table">
                  <thead>
                    <tr>
                      <th>Materia</th>
                      <th>Día</th>
                      <th>Horario</th>
                      <th>Profesores</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Diseño de interfaces y usabilidad</td>
                      <td>Lunes 3 de Julio</td>
                      <td>7:30 am</td>
                      <td>Demonte Anibal, Tato M. Soledad, Vottero Ezequiel</td>
                    </tr>
                    <tr>
                      <td>Programación</td>
                      <td>Lunes 3 de Julio</td>
                      <td></td>
                      <td>Demonte Anibal, Tato M. Soledad, Vottero Ezequiel</td>
                    </tr>
                    <tr>
                      <td>Estructura y alm. de datos III</td>
                      <td>Lunes 3 de Julio</td>
                      <td></td>
                      <td>Demonte Anibal, Tato M. Soledad, Vottero Ezequiel</td>
                    </tr>
                    <tr>
                      <td>TIA (Taller de Inglés Aplicado)</td>
                      <td>Lunes 3 de Julio</td>
                      <td></td>
                      <td>Demonte Anibal, Tato M. Soledad, Vottero Ezequiel</td>
                    </tr>
                    <tr>
                      <td>Historia</td>
                      <td>Lunes 3 de Julio</td>
                      <td>9:00 am</td>
                      <td>Ferreyra Matias, Rojo Magali, Rosas Victoria</td>
                    </tr>
                    <tr>
                      <td>Inglés</td>
                      <td>Lunes 3 de Julio</td>
                      <td>10:00 am</td>
                      <td>Martini Florencia, Vottero Ezequiel, Tato M. Soledad</td>
                    </tr>
                    <tr>
                      <td>Educación Física</td>
                      <td>Martes 4 de Julio</td>
                      <td>7:30 am</td>
                      <td>Moreno Guillermo, Tamagnini Lorena, Ramallo Vannesa</td>
                    </tr>
                    <tr>
                      <td>Matemáticas</td>
                      <td>Martes 4 de Julio</td>
                      <td>8:30 am</td>
                      <td>Tomassi Micaela, Demonte Anibal, Matelica Yanina</td>
                    </tr>
                    <tr>
                      <td>Geografía</td>
                      <td>Martes 4 de Julio</td>
                      <td>9:00 am</td>
                      <td>Rosas Victoria, Rojo Magali, Ferreyra Matias</td>
                    </tr>
                    <tr>
                      <td>Lengua y Literatura</td>
                      <td>Martes 4 de Julio</td>
                      <td>11:00 am</td>
                      <td>Droetta Cintia, Ginart Daniela, Fulgeniz Daiana</td>
                    </tr>
                    <tr>
                      <td>Educación Artística</td>
                      <td>Martes 4 de Julio</td>
                      <td>12:00 pm</td>
                      <td>Crispiani Martin, Capello Lucciano, Sanchez Fernando</td>
                    </tr>
                    <tr>
                      <td>Biología</td>
                      <td>Martes 4 de Julio</td>
                      <td>12:30 pm</td>
                      <td>Scorcione M, Carlina, Bianchi Marilyn, Camilone Mara</td>
                    </tr>
                  </tbody>
                </table>
          </div>
        </div>
      </div>
    </div>
  </div>