.navbar-collapse ul li a {
  color: #ffffff;
  font-weight: 600;
}

.btn {
  border: none;
}

#carouselExample {
  height: 591px;
  overflow: hidden;
}

#carouselExample .carousel-inner {
  height: 100%;
}

#carouselExample .carousel-item {
  height: 100%;
}

@media (max-width: 768px) {
  #carouselExample {
    max-height: 200px;
  }
}

.relleno {
  margin: 50px 0 50px 0;
}

.asd1 {
  border-top: 2px solid #93d4ff6e; 
  border-right: 2px solid #fff49379; 
  border-bottom: 2px solid #ff949470; 
  border-left: 2px solid #92ff9b75;
  border-radius: 10px;
  margin: 10px 0 10px 0;
  padding: 5px;
}

.asd2 {
  border-top: 2px solid #93d4ff6e; 
  border-right: 2px solid #fff49379; 
  border-bottom: 2px solid #ff949470; 
  border-left: 2px solid #92ff9b75;
  border-radius: 10px;
  margin: 0 0 10px 0;
  padding: 5px;
}

.col-md-4 img {
  border-radius: 10px;
}

.container h2 {
  text-align: center;
  font-weight: 700;
}

.row-cols-1 {
  padding: 150px;
}

.footer {
  background: #00c3ff;
  padding: 20px;
}

.footer .container {
  max-width: 960px;
  margin: 0 auto;
}

.footer h4 {
  margin-top: 0;
  color:#fff;
}

.footer h5 {
  color:#fff;
  padding-top: 20px;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer ul li {
  margin-bottom: 10px;
  color:#fff;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Estilos para dispositivos de pantalla más pequeños */
@media screen and (max-width: 576px) {
    .row-cols-md-5 {
      flex-direction: column;
    }
    
    .col {
      width: 100%;
      margin-bottom: 20px;
    }
    
    .col:last-child {
      margin-bottom: 0;
    }
    
    .nav.flex-column {
      padding-left: 0;
    }
    
    .nav-link {
      display: flex;
      align-items: center;
    }
    
    .w-100 {
      height: 175px;
    }

    .nav-link img {
      margin-right: 5px;
    }

    .re {
      width: 315px;
      height: 250px;
    }

    .nav {
      flex-direction: column;
      align-items: flex-end;
    }

    .nav li {
      margin: 5px 50px 0 0;
    }

    .videoYoutube {
      width: 100%;
      height: 200px;
    }

    .mapa {
      width: 100%;
      height: 200px;
    }
  }
  
  /* Estilos para dispositivos de pantalla más grandes */
  @media screen and (min-width: 576px) {
    .row-cols-md-5 {
      justify-content: space-between;
    }
    
    .col {
      flex: 0 0 auto;
    }

    .foo {
      margin: 0 50px 0 0;
    }

    .nav {
      flex-direction: row;
      justify-content: flex-end;
    }
    .nav li {
      margin-left: 1rem;
    }

    .videoYoutube {
      width: 100%;
      height: 500px;
    }

    .mapa {
      width: 100%;
      height: 500px;
    }
  }
  